body {
  background-image: url('images/background.png');
  color: white;
  font-family: Franklin Gothic Medium , Arial Narrow , Arial , sans-serif;
  margin: 0%;
}

.header-h1 {
  color: white;
  font-size: 60px;
  font-weight: 100;
  margin-bottom: 304px;
  margin-top: 61.94px;
  text-align: center;
  text-transform: uppercase;
}

.elipse {
  border: 1px solid white;
  border-radius: 50%;
  height: 100px;
  margin-left: 600px;
  position: absolute;
  transform: scaleX(1.7) skew(-40deg);
  transition: 1s;
  width: 200px;
}

.elipse:hover {
  box-shadow: 3px 6px 10px rgba(162, 161, 161, 0.602);
  height: 200px;
  width: 300px;
}

.title-second {
  color: white;
  font-size: 40px;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
}

.line {
  border: 1px solid white;
  height: 0;
  margin-bottom: 250px;
  margin-top: 100px;
  width: 100vw;
}

.line:hover {
  margin-top: 90px;
}

.planets-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
}

.planet-image {
  transition: 1.5s;
  width: 160px;
}

.planet-image:hover {
  width: 200px;
}

/* .planets-image {
  width: 50px;
} */

.planet-name {
  text-align: center;
}

.mission-card {
  background-color: rgba(50, 49, 49, 0.354);
  border: 1px solid white;
  border-radius: 20px;
  padding: 20px;
  transition: 1s;
  width: 496px;
}

.mission-card:hover {
  background-color: rgba(0, 0, 0, 0.309);
  padding: 40px;
}

.missions-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.mission-info {
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
  gap: 5px;
  justify-content: space-around;
  margin-left: 0%;
  width: 496px;
}

.mission-name {
  font-size: 25px;
}

.missions {
  background-color: rgba(255, 255, 255, 0.11);
  border-radius: 30px;
  margin: auto;
  margin-bottom: 50px;
  padding: 10px;
  width: 1200px;
}

